# Ignore Everything:
/*
 
# Do Not ignore these files:
!.gitignore
!config/
!customnpcs/
!mods/
!photos/
!resourcepacks/
!saves/
!shaderpacks/
!scripts/
!README.md
!options.txt
!optionsof.txt
!optionsshaders.txt
mods/memory_repo/*
mods/animation/*
