# Ignore Everything:
/*
 
# Do Not ignore these files:
!.gitignore
!config/
!customnpcs/
!mods/
!photos/
!resourcepacks/
!saves/
!shaderpacks/
!scripts/
!README.md
mods/memory_repo/blusunrize/ImmersiveEngineering-core/0.12-89/ImmersiveEngineering-core-0.12-89.jar
mods/memory_repo/blusunrize/ImmersiveEngineering-core/0.12-89/ImmersiveEngineering-core-0.12-89.jar.meta
mods/memory_repo/com/github/mcjty/mcjtytools/0.0.21/mcjtytools-0.0.21.jar
mods/memory_repo/com/github/mcjty/mcjtytools/0.0.21/mcjtytools-0.0.21.jar.meta
mods/memory_repo/net/ilexiconn/llibrary-core/1.0.11-1.12.2/llibrary-core-1.0.11-1.12.2.jar
mods/memory_repo/net/ilexiconn/llibrary-core/1.0.11-1.12.2/llibrary-core-1.0.11-1.12.2.jar.meta
mods/animation/bin/arthropleura.png
mods/animation/bin/monolophosaurus.png
mods/animation/bin/ObsidianCow.png
mods/animation/bin/ObsidianPlayer.png
mods/animation/bin/plateosaurus.png
mods/animation/bin/plesiosaurus.png
mods/animation/bin/saurichthys.png
mods/animation/save.data
