# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        malisisdoors:wood_sliding_door
        malisisdoors:iron_sliding_door
        malisisdoors:jail_door
        malisisdoors:laboratory_door
        malisisdoors:factory_door
        malisisdoors:shoji_door
        malisisdoors:curtain_white
        malisisdoors:curtain_orange
        malisisdoors:curtain_magenta
        malisisdoors:curtain_light_blue
        malisisdoors:curtain_yellow
        malisisdoors:curtain_lime
        malisisdoors:curtain_pink
        malisisdoors:curtain_gray
        malisisdoors:curtain_silver
        malisisdoors:curtain_cyan
        malisisdoors:curtain_purple
        malisisdoors:curtain_blue
        malisisdoors:curtain_brown
        malisisdoors:curtain_green
        malisisdoors:curtain_red
        malisisdoors:curtain_black
        malisisdoors:customdoor
        malisisdoors:saloon
        malisisdoors:camofencegate
        malisisdoors:verticalhatch
        fossil:palm_fence_gate
        fossil:palm_door
        fossil:calamites_fence_gate
        fossil:calamites_door
        fossil:sigillaria_fence_gate
        fossil:sigillaria_door
        fossil:cordaites_fence_gate
        fossil:cordaites_door
        cfm:door_bell
        cfm:door_bell_spruce
        cfm:door_bell_birch
        cfm:door_bell_jungle
        cfm:door_bell_acacia
        cfm:door_bell_dark_oak
        securitycraft:laser_block
        securitycraft:keypad
        securitycraft:retinal_scanner
        securitycraft:iron_door_reinforced
        securitycraft:keycard_reader
        securitycraft:portable_radar
        securitycraft:reinforced_fence_gate
        securitycraft:panic_button
        securitycraft:security_camera
        securitycraft:scanner_door
        securitycraft:reinforced_stone_pressure_plate
        securitycraft:reinforced_wooden_pressure_plate
        securitycraft:reinforced_observer
        securitycraft:reinforced_stone_button
        securitycraft:reinforced_wooden_button
        securitycraft:reinforced_lever
        cuisine:door
        cuisine:fence_gate
        jurassicraft:psaronius_fence_gate
        jurassicraft:ginkgo_door
        jurassicraft:phoenix_fence_gate
        jurassicraft:ginkgo_fence_gate
        jurassicraft:araucaria_door
        jurassicraft:calamites_door
        jurassicraft:phoenix_door
        jurassicraft:araucaria_fence_gate
        jurassicraft:calamites_fence_gate
        jurassicraft:psaronius_door
        customnpcs:npcscripteddoor
        davincisvessels:crate_wood
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


